.cart-main {
  background-image: radial-gradient(white, rgb(18, 18, 252));
  border: 1px double black;
  border-radius: 10px;
  height: 80vh;

}

.item-header {
  padding: 0px;
  font-weight: bold;
}

.item-container {
  height: 66.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.no-items {
  height: 69vh;
}

.cart-title {
  color: white;
}
