<div class="container-fluid">
  <div class="main-register">
    <form #registerForm1="ngForm" name="form" class="form" (ngSubmit)="nextStep(registerForm1)" [mustMatch]="['registerPass', 'registerPassConfirm']"
      novalidate>
      <div class="first-step d-flex align-items-stretch">
        <fieldset [disabled]="disableFirstSet">
          <div class="form-group row mb-3">
            <label class="col-4 col-form-label" for="registerID">ת.ז:</label>
            <div class="col-8">
              <input type="text" name="registerID" #id="ngModel" ngModel pattern="^[0-9]+$" class="form-control"
                [ngClass]="{ 'is-invalid': registerForm1.submitted && id.invalid }" required minlength="9">
              <div *ngIf="registerForm1.submitted && id.invalid" class="invalid-feedback">
                <div *ngIf="id.errors.required">מספר זהות הינו חובה</div>
                <div *ngIf="id.errors.pattern">מספר זהות חייב להיות מורכב ממספרים בלבד</div>
                <div *ngIf="id.errors.minlength">אנא הקלד 9 ספרות לפחות</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-3 row">
            <label class="col-4 col-form-label" for="registerMail">אי-מייל:</label>
            <div class="col-8">
              <input type="mail" name="registerMail" #email="ngModel" ngModel class="form-control" pattern="[\w! # $ % & ‘ * + – / = ? ^ ` . { | } ~]+([\.-]?[\w! # $ % & ‘ * + – / = ? ^ ` . { | } ~]+)*@\w+([\.-]?\w+)*(\.\w{2,3})+"
                [ngClass]="{ 'is-invalid': registerForm1.submitted && email.invalid }" required email>
              <div *ngIf="registerForm1.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">אי-מייל הינו חובה</div>
                <div *ngIf="email.errors.email">אנא הקלד כתובת חוקית</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label" for="registerPass">סיסמה:</label>
            <div class="col-8">
              <input type="password" name="registerPass" #password="ngModel" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.+[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"
                class="form-control" [ngClass]="{ 'is-invalid': registerForm1.submitted && password.invalid }" ngModel
                required>
              <div *ngIf="registerForm1.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">סיסמה הינה חובה</div>
                <div *ngIf="password.errors.pattern">סיסמה חייבת להיות באורך 8 תווים לפחות, להכיל אות גדולה, מספר וסימן
                  מיוחד</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label" for="registerPassConfirm">אשר סיסמה:</label>
            <div class="col-8">
              <input type="password" name="registerPassConfirm" #confirmPassword="ngModel" class="form-control"
                [ngClass]="{ 'is-invalid': registerForm1.submitted && confirmPassword.invalid }" ngModel required>
              <div *ngIf="registerForm1.submitted && confirmPassword.invalid" class="invalid-feedback">
                <div *ngIf="confirmPassword.errors.required">סיסמה הינה חובה</div>
                <div *ngIf="confirmPassword.errors.mustMatch">סיסמאות לא זהות</div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success float-right">הבא</button>
        </fieldset>
      </div>
    </form>
    <form #registerForm2="ngForm" class="form" (ngSubmit)="registerUser(registerForm.value)">
      <div class="second-step d-flex align-items-stretch">
        <fieldset [disabled]="disableSecondSet">
          <div class="form-group row">
            <label class="col-4 col-form-label" for="registerCity">עיר:</label>
            <div class="col-8">
              <input type="text" name="registerCity" class="form-control" ngModel>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label" for="registerStreet">רחוב:</label>
            <div class="col-8">
              <input type="text" name="registerStreet" class="form-control" ngModel>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-4 col-form-label" for="registerName">שם:</label>
            <div class="col-8">
              <input type="text" name="registerName" class="form-control" ngModel>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label" for="registerLastName">שם משפחה:</label>
            <div class="col-8">
              <input type="text" name="registerLastName" class="form-control" ngModel>
            </div>
          </div>
          <button class="btn btn-link float-right" (click)="nextStep()">שלח</button>
        </fieldset>
      </div>
    </form>
  </div>

</div>
