<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#" *ngIf="user != null">{{user.name}} {{user.email}}</a>
  <a class="navbar-brand" href="#" *ngIf="user == null">שלום אורח</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="ml-auto" href="#">text</a>

</nav>
