<div class="modal" tabindex="-1" style="display:block" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">בחר כמות</h5>
        <button type="button" class="close" (click)="cancelAction()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" #quantity class="form-control" min="1" max="10" value="1">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addToCart()">הוסף לסל</button>
        <button type="button" class="btn btn-secondary" (click)="cancelAction()" data-dismiss="modal">סגור</button>
      </div>
    </div>
  </div>
</div>
