<div class="modal" tabindex="-1" style="display:block" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <h5 class="modal-title">תודה שקנית אצלנו!</h5>
        <button type="button" class="close" style="text-align: left;" (click)="cancelAction()" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <h3>קנייתך בוצע בהצלחה</h3>
        <p>להורדת הקבלה לחץ<a (click)="downloadReceipt()">כאן</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="confirm()">אישור</button>
      </div>
    </div>
  </div>
</div>
