.main {
  height: 100vh;
  margin-top: 100px;
}

.login {
  height: 75vh;
  float: right;
  width: 30%
}

.shop-info {
  height: 75vh;
  float: right;
  width: 30%
}

.description {
  height: 75vh;
  float: right;
  width: 30%
}
