.main {
  height: 100vh;
  margin-top: 100px;
  padding-right: 4%;
}

.login {
  height: 75vh;
  float: right;
  width: 27vw
}

.shop-info {
  height: 75vh;
  float: right;
  width: 27vw
}

.description {
  height: 75vh;
  float: right;
  width: 27vw
}
