.main-product-form {
  background-image: radial-gradient(white, rgb(18, 18, 252));
  border: 1px double black;
  border-radius: 10px;
  height: 80vh;
  text-align: right;
  color: white;
  width: inherit;
}

.form-control {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* width: 200px; */
}

#pPrice {
  text-align: left;
  direction: ltr;
}

#image-display {
  max-width: 160px;
  max-height: 160px;
  border: 1px rgb(190, 187, 187) solid;
  overflow: hidden;

}

#image-display img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
