<div class="container-fluid">
  <div class="row">
    <form #productForm="ngForm" class="form" action="#">
      <div class="form-group">
        <label for="pName">שם מוצר:</label>
        <input type="text" required name="pName" #pName="ngModel" [(ngModel)]="product.name" [class.is-invalid]="pName.invalid && pName.touched"
          class="form-control" placeholder="הכנס שם מוצר">
        <small class="text-danger" [class.d-none]="pName.valid || pName.untouched">שם מוצר הינו חובה</small>
      </div>

      <div class="form-group">
        <label for="pPrice">מחיר מוצר:</label>
        <input type="number" id="pPrice" name="pPrice" #pPrice="ngModel" step="0.1" customMin="0.1" class="form-control"
          [(ngModel)]="product.price" required [class.is-invalid]="pPrice.invalid && pPrice.touched">

        <div *ngIf="pPrice.errors && (pPrice.invalid || pPrice.touched)">
          <small class="text-danger" *ngIf="pPrice.errors.required">מחיר מוצר הינו חובה</small>
          <small class="text-danger" *ngIf="pPrice.errors.customMin && !pPrice.errors.required">המחיר חייב להיות גדול
            מאפס</small>
        </div>
      </div>
      <div class="form-group">
        <label for="pCategory">קטגוריה:</label>
        <select (blur)="validateCategory(pCategory.value)" (change)="validateCategory(pCategory.value)" name="pCategory"
          required [class.is-invalid]="pCategory.invalid && pCategory.touched" class="custom-select" #pCategory="ngModel"
          [(ngModel)]="product.category">
          <option value=0>בחר קטגוריה למוצר</option>
          <option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
        </select>
        <small class="text-danger" [class.d-none]="!categoryError || pCategory.untouched">בחר קטגוריה למוצר</small>
      </div>
      <div class="form-inline">
        <input style="display: none;" type="file" #fileInput (change)="onFileChange($event.target.files[0])">
        <button type="button" class="btn btn-primary" (click)="fileInput.click()">בחר קובץ</button>
        <label style="width: 254px;" class="form-control" #fileName [ngModel]="" for="pImage">העלה תמונה...</label>
        <div [ngClass]="{
          'invalid-feedback': !isValidImage,
          'd-block' : !isValidImage,
          'd-none': isValidImage
        }">בחר
          תמונה למוצר</div>
      </div>
      <div class="mt-2 mb-2" id="image-display">
        <img [src]="product.image" name="pPic" alt="">
      </div>
      <div>
        <button type="submit" class="btn btn-success pl-5 pr-5" (click)="createUpdateProduct()">עדכן</button>
      </div>
    </form>
  </div>
</div>
