label.form-control {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

#pPrice {
  text-align: left;
  direction: ltr;
}

#image-display {
  width: 160px;
  height: 160px;
  border: 1px rgb(190, 187, 187) solid;
  overflow: hidden;
}

#image-display img {
  width: 150px;
  height: auto;
}
