.body {
  font-family: 'Alef', sans-serif;

}

.main-login {
  background-image: radial-gradient(white, rgb(18, 18, 252));
  height: 500px;
  border-radius: 10px;
}

button {
  -webkit-transition: opacity 1s;
  top: 15px;

}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

form {
  top: 70px;
}
